---
import Muted, { type Props as MutedProps } from './muted.astro'

interface Props extends MutedProps {
  date: Date
  link: string
}

const { date, link, ...props } = Astro.props
---

<Muted {...props}>
  Posted at <a class='hover:cursor-pointer hover:underline' href={link}>
    <time datetime={date.toISOString()}>
      {
        date.toLocaleDateString('en', {
          dateStyle: 'long'
        })
      }
    </time>
  </a>
</Muted>
