---
import SingleColumnLayout, {
  type Props as SingleColumnLayoutProps
} from '~/layouts/single.astro'
import Article from '~/components/article/article.astro'
import SearchBar from '~/widgets/search.astro'
import List from '~/components/list.astro'
import { getCollection } from 'astro:content'
import Fuse from 'fuse.js'

const posts = await getCollection('posts')
const fuse = new Fuse(posts, {
  keys: [
    'body',
    'data.title',
    'data.subtitle',
    'data.description',
    'data.tags.name'
  ],
  ignoreLocation: true
})

const query = Astro.url.searchParams.get('q')
const result = fuse.search(query || '')

const page = {
  title: 'Pencarian',
  description: 'Halaman pencarian Artikel'
} satisfies SingleColumnLayoutProps

export const prerender = false
---

<SingleColumnLayout {...page}>
  <Article title={page.title} class='mx-auto prose-h1:mb-4'>
    <SearchBar value={query || ''} />
    {
      query && (
        <>
          <p>
            Hasil pencarian dengan kata kunci{' '}
            <span class='italic underline'>"{query}"</span>:
          </p>
          <hr />
        </>
      )
    }

    <List posts={result.map(({ item }) => item)} />
  </Article>
</SingleColumnLayout>
